@use "styles/mixin" as mixin;

.wrapper {
  display: flex;
  justify-content: center;
  padding: 0 0 24px;
}

.inner {
  @include mixin.narrow-content;

  display: grid;
  position: relative;

  @include mq.mq($until: tablet) {
    gap: 12px;
    padding-left: 0;
    padding-right: 0;
  }
  @include mq.mq($from: tablet) {
    gap: 24px;
  }
}

.autosuggestWrapper {
  backdrop-filter: blur(1px);
  /* stylelint-disable-next-line color-function-notation */
  background: rgba(var(--color-black-text), 0.95);
  position: sticky;
  transition: 250ms;

  @include mq.mq($until: tablet) {
    padding: 12px 60px 12px 12px;
    top: 0;
  }
  @include mq.mq($from: tablet, $until: desktop) {
    top: 69px;
  }
  @include mq.mq($from: desktop) {
    top: 93px;
  }
}

.narrow {
  @include mq.mq($until: tablet) {
    padding-right: 12px;
  }
  @include mq.mq($from: tablet) {
    padding-bottom: 12px;
    top: 53px;
  }
}

.infiniteScroll {
  display: grid;
  gap: 24px;
}

.hr {
  background: var(--color-gray);
  border: 0;
  height: 1px;
  width: 100%;
}

.anchor {
  @include mq.mq($until: tablet) {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.title {
  font-size: 2.4rem;
}

.openingSentence {
  color: var(--color-gray);
  padding: 4px 0 0;
}

.dateWrapper {
  font-size: 1.2rem;
  padding: 8px 0 0;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  padding: 24px 0;
}
