.wrapper {
  background: var(--color-light-white);
  color: var(--color-black);
  display: grid;
  @include mq.mq($until: tablet) {
    padding: 12px;
  }
  @include mq.mq($from: tablet) {
    padding: 24px;
  }
}

.inner {
  align-content: flex-start;
  border: 1px solid var(--color-brand-blue);
  display: grid;
  @include mq.mq($until: tablet) {
    gap: 12px;
    padding: 12px;
  }
  @include mq.mq($from: tablet) {
    gap: 24px;
    padding: 24px;
  }
}

.hr {
  background: var(--color-brand-blue);
  border: 0;
  height: 1px;
}

.list {
  display: grid;
  gap: 16px;
}

.item {
  display: grid;
  gap: 2px;
}

.term {
  font-size: 1.2rem;
  font-weight: 700;
}

.description {
  padding: 0 0 0 8px;
}

.item2::before {
  content: "-";
  display: inline-block;
  padding: 0 4px 0 0;
}

.anchor {
  border-bottom: 1px solid var(--color-brand-red);
}
