.wrapper {
  display: grid;
  position: relative;
  @include mq.mq($until: tablet) {
    grid-template: 1fr / 1fr;
    padding: 0 0 48px;
  }
  @include mq.mq($from: tablet) {
    grid-template: auto 1fr auto / 1fr;
  }
}

.headerWrapper {
  backdrop-filter: blur(1px);
  position: sticky;
  top: 0;
  z-index: 1;
  @include mq.mq($until: tablet) {
    display: none;
  }
}

.footerWrapper {
  @include mq.mq($until: tablet) {
    display: none;
  }
}

.nav {
  /* stylelint-disable-next-line color-function-notation */
  background: rgba(var(--color-black-text), 0.95);
  border-top: 1px solid var(--color-gray);
  bottom: 0;
  font-size: 1.2rem;
  left: 0;
  position: fixed;
  width: 100%;
  @include mq.mq($from: tablet) {
    display: none;
  }
}

.list {
  display: grid;
  grid-template: 48px / repeat(5, 1fr);
}

.item:not(:first-child) {
  border-left: 1px solid var(--color-gray);
}

.anchor {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.active {
  position: relative;
}

.active::after {
  background: var(--color-brand-red);
  bottom: -2px;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100%;
}

.studyGroupLinkWrapper {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

@mixin study-group($one-side) {
  .studyGroupAnchor {
    border-color: transparent var(--color-brand-blue) transparent transparent;
    border-style: solid;
    border-width: 0 $one-side $one-side 0;
    display: block;
    height: 0;
    opacity: 0.75;
    position: relative;
    width: 0;
  }

  .icon {
    color: var(--color-white);
    font-size: calc($one-side / 3);
    left: calc($one-side / 2);
    margin: calc($one-side / -5) 0 0 calc($one-side / 5);
    position: absolute;
    top: calc($one-side / 2);
    translate: -50% -50%;
  }
}

@include mq.mq($until: tablet) {
  @include study-group(64px);
}

@include mq.mq($from: tablet) {
  @include study-group(84px);
}
