.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 24px 0;
}

.bubbleWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  @include mq.mq($until: tablet) {
    height: calc(273px / 3);
    width: calc(512px / 3);
  }
  @include mq.mq($from: tablet) {
    height: calc(273px / 2);
    width: calc(512px / 2);
  }
}

.bubbleImageWrapper {
  inset: 0;
  position: absolute;
}

.titleWrapper {
  position: relative;
  @include mq.mq($until: tablet) {
    margin: calc(273px / 20 * -1) 0 0 -6px;
  }
  @include mq.mq($from: tablet) {
    margin: calc(273px / 14 * -1) 0 0 -6px;
  }
}

.title {
  color: var(--color-black);
  font-style: italic !important;
  @include mq.mq($until: tablet) {
    font-size: 1.8rem;
  }
  @include mq.mq($from: tablet) {
    font-size: 2.4rem;
  }
}

.heading1 {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.tsumugiWrapper {
  @include mq.mq($until: tablet) {
    margin: -60px 0 0 108px;
  }
  @include mq.mq($from: tablet) {
    margin: -96px 0 0 156px;
  }
}

.tsumugiImageWrapper {
  position: relative;
  @include mq.mq($until: tablet) {
    height: calc(953px / 4.5);
    width: calc(1080px / 4.5);
  }
  @include mq.mq($from: tablet) {
    height: calc(953px / 3);
    width: calc(1080px / 3);
  }
}
